
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>  
<div class="container" style="margin:100px">

    <div class="form-signin" >
	
       <a href="{$url[1]}">主页轮播图片</a><br/>
       <a href="{$url[2]}">热门活动</a><br/>
		<a href="{$url[3]}">社团活动</a><br/>
		<a href="{$url[4]}">比赛信息</a><br/>
		<a href="{$url[5]}">微小说/电影</a><br/>
        <a href="__MODULE__/finder/jobadd">兼职信息</a><br>
		<a href="{$url[6]}">换号登录</a><br/>
    </div>

</div>

