    
    <!--
	<layout name="layout" />
	
	<div class="wrapper">
		<div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb panel">
                    <li><a href="#"><i class="fa fa-home"></i>后台管理</a></li>
                    <li><a href="#">热门活动</a></li>
                    <li class="active">所有活动列表</li>
                </ul>
            </div>
        </div>
		<div class="row">
			
			<div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                       	<span>热门活动列表</span>
                    	<button class="btn btn-success pull-right" type="button">Success</button>
                    </header>
                    <div class="panel-body" style="display: block;">
                        <table class="table  table-hover general-table">
                            <thead>
                            <tr>
                                <th> Company</th>
                                <th class="hidden-phone">Descrition</th>
                                <th>Profit</th>
                                <th>Status</th>
                                <th>Progress</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <a href="#">
                                        ThemeBucket
                                    </a>
                                </td>
                                <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                <td>556.00$ </td>
                                <td><span class="label label-warning label-mini">Due</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="sr-only">70% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        XYZ
                                    </a>
                                </td>
                                <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                <td>13240.00$ </td>
                                <td><span class="label label-success label-mini">Paid</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">55% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">Graphics</a></td>
                                <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                <td>1320.00$ </td>
                                <td><span class="label label-info label-mini">Due</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        BCSE
                                    </a>
                                </td>
                                <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                <td>3455.50$ </td>
                                <td><span class="label label-danger label-mini">Paid</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="sr-only">90% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">AVC Ltd</a></td>
                                <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                <td>110.00$ </td>
                                <td><span class="label label-primary label-mini">Due</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        Themeforest
                                    </a>
                                </td>
                                <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                <td>456.00$ </td>
                                <td><span class="label label-warning label-mini">Due</span></td>
                                <td>
                                    <div class="progress progress-striped progress-xs">
                                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
			
		</div>	
	</div>
    -->

