   
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="__PUBLIC__/adminex/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="__PUBLIC__/adminex/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/adminex/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>热门活动</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>社团活动</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>比赛信息</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>原创平台</span></a></li>
                
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>比赛信息</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>兼职信息</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>讲座信息</span></a></li>
                <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>下载资源</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->