.g-container {
	width: 982px;
	margin: 30px auto;
	font-family: "microsoft yahei";
	/*border: 1px solid red;*/
}

.g-main{
	width: 660px;
	box-shadow: 0 0 5px #dddddd;
}
.g-aside{
	width: 302px;
}

.m-head{
	/*height: 92px;*/
	padding: 18px 0;
	/*border: 1px solid red;*/
}
.u-logo{
	padding-bottom: 30px;
}
.s-bt{
	border-bottom: 1px solid #dddddd;
}
.m-head .hs{
	width: 92px;
	height: 92px;
	border-radius: 46px;
	/*border: 1px solid red;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/*border: 1px solid red;*/
}
.m-head .hs, .m-head .info{
	vertical-align: middle;
}
.m-head .nin{
	font-size: 24px;
	color: #333333;
}

.m-head .stn{
	font-size: 18px;
	color: #666666;
	margin-top: 18px;
}
.s-h_ml{
	padding-left: 20px !important;
}

.m-head span{

}

.m-s_t{
	padding: 24px 0;
	color: #333333;
	font-size: 18px;
}
.m-s_d{
	padding: 20px 0;
	color: #666666;
	font-size: 18px;
}

.m-s_d i{
	width: 38px;
	height: 32px;
	vertical-align: middle;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
}

.m-s_d:nth-child(4) i{
	background-position: center -65px;
}
.m-s_d:nth-child(5) i{
	background-position: center -131px;
}
.m-s_d:nth-child(6) i{
	background-position: center -198px;
}

.m-s_d span{
	vertical-align: middle;
}

.m-sc_t{
	box-shadow: 0 0 3px #dddddd;
}
.m-sc_t dt{
	padding: 15px 20px;
	border-bottom: 1px solid #dddddd;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFE),
		color-stop(1, #F8F8F8)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFE 0%, #F8F8F8 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFE 0%, #F8F8F8 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFE 0%, #F8F8F8 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFE 0%, #F8F8F8 100%);
	background-image: linear-gradient(to bottom, #FFFFFE 0%, #F8F8F8 100%);
}
.m-sc_t dt .s-icon{
	width: 23px;
	height: 22px;
	background: url("../images/score.png") no-repeat center center;
	vertical-align: middle;
}
.m-sc_t dt span{
	vertical-align: middle;
	color: #333333;
	font-size: 24px;
}
.m-sc_t dd{
	padding: 11px 20px 9px;
	border-bottom: 1px solid #dddddd;
}
.m-sc_t dd i {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-style: normal;
	color: #fff;
	background: #999999;
	border-radius: 2px;
	font-size: 16px;
}

.m-sc_t dd span{
	padding-left: 12px;
	color: #666666;
}


.m-sc_t dd:nth-child(2)>i{
	background: #ff374f;
}
.m-sc_t dd:nth-child(3)>i{
	background: #ff7d36;
}
.m-sc_t dd:nth-child(4)>i{
	background: #ffbf36;
}
.s-footer p{
	text-align: center;
	color: #666666;
	font-family: "microsoft yahei";
}