<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/css/personal.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/base.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/function.css"/>
</head>
<body>

	<div class="g-container f-cb">
		<div class="u-logo"><img src="__PUBLIC__/images/logo.png" alt=""/></div>
		<div class="g-main f-fl">
			<div class="m-head s-bt s-h_ml">
				<i class="hs f-ib" style="background-image: url('__PUBLIC__/images/logo.png')"></i>
				<div class="info f-ib">
					<span class="nin f-db">村里没有巧克力</span>
					<span class="stn f-db">2013210772</span>
				</div>
			</div>
			<div class="m-s_t s-h_ml s-bt">
				<span class="">总积分:180 排名：第433名</span>
			</div>
			<div class="m-s_d s-h_ml s-bt">
				<i class="f-ib" style="background-image: url('__PUBLIC__/images/icons.png')"></i>
				<span>BTdown铺：敬请期待</span>
			</div>
			<div class="m-s_d s-h_ml s-bt">
				<i class="f-ib" style="background-image: url('__PUBLIC__/images/icons.png')"></i>
				<span>拾货：敬请期待</span>
			</div>
			<div class="m-s_d s-h_ml s-bt">
				<i class="f-ib" style="background-image: url('__PUBLIC__/images/icons.png')"></i>
				<span>重邮小帮手微信端：7分</span>
			</div><div class="m-s_d s-h_ml s-bt">
				<i class="f-ib" style="background-image: url('__PUBLIC__/images/icons.png')"></i>
				<span>门户积分：10分</span>
			</div>
		</div>
		<div class="g-aside f-fr">
			<dl class="m-sc_t">
				<dt><i class="s-icon f-ib"></i><span>总排名</span></dt>
				<dd><i>1</i><span>aefswg</span></dd>
				<dd><i>2</i><span>gwsegwsr</span></dd>
				<dd><i>3</i><span>gwwsrsgf</span></dd>
				<dd><i>4</i><span>sgfsbfb</span></dd>
				<dd><i>5</i><span>sbf</span></dd>
				<dd><i>6</i><span>sbfbfsda</span></dd>
				<dd><i>7</i><span>baedfb</span></dd>
				<dd><i>8</i><span>abdfbfhb</span></dd>
				<dd><i>9</i><span>abtrgnghb</span></dd>
				<dd><i>10</i><span>abthre</span></dd>
			</dl>
		</div>
	</div>
	<div class="s-footer">
		<p>copyright©2014红岩网校</p>
	</div>
</body>
</html>