<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>兼职列表</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/clear.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/adminIndex.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/edit.css">
	<link rel="stylesheet" href="__PUBLIC__/css/page.css">
	<script src="javascript/jquery-1.8.3.min.js"></script>
</head>
<body id="sysmain">
	<div class="content">
		<div class="syshead">
			<div class="clearfix">
				<p class="left">
					<img alt="红岩网校门户后台" title="红岩网校门户后台" src="__PUBLIC__/admin/images/logo.gif">
				</p>
				<p class="right">
					<if condition="$Think.session.login_name">
						<a href="javascript:void(0);">{$_SESSION.login_name}</a>
						<a class="outsys" title="退出系统" href="__MODULE__/Login/logout">
							<img src="__PUBLIC__/admin/images/outsys.gif" width="16" height="16">退出
						</a>
					</if>
				</p>
			</div>
		</div>
		<div class="sysmain clearfix">
			<div class="sysmenua">
				<ul>
					<li><a href="javascript:void(0);">后台首页</a></li>
					<li><a href="__MODULE__/Finder/joblist">兼职信息</a></li>
					<li><a class="current" href="javascript:void(0);">讲座信息</a></li>
					<li><a href="javascript:void(0);">下载资源</a></li>
					<li><a href="__MODULE__/common/index/to/hot_activity">热门活动</a></li>
					<li><a href="__MODULE__/common/index/to/club_activity">社团活动</a></li>
					<li><a href="__MODULE__/common/upload_redrock_img">首页轮播</a></li>
					<li><a href="__MODULE__/common/index/to/match_imformation">比赛信息</a></li>
					<li><a href="__MODULE__/common/index/to/creative_platform">原创平台</a></li>
				</ul>
			</div>
			<div class="sysmenub">
				<p class="smenubtit">全部讲座信息</p>
				<ul>
					<li><a class="current" href="javascript:void(0);">查看全部</a></li>
					<li><a href="__CONTROLLER__/lectureAdd">添加信息</a></li>
				</ul>
			</div>
			<div class="sysinfo">
				<p class="sinfotit">全部信息</p>
				<div id="list" style="width:800px;margin: 10px 75px 40px 21px;">
					<table>
						<tr>
							<th>讲座主题</th>
							<th>主讲人</th>
							<th>讲座地点</th>
							<th>讲座时间</th>
							<th>宣传海报</th>
							<th>领票时间</th>
							<th>领票地点</th>
							<th>更改</th>
							<th>删除</th>
						</tr>
						<volist name="lectures" id="v">
							<tr>
								<td><a href="{$v.l_link}">{$v.l_title}</a></td>
								<td>{$v.l_teacher}</td>
								<td>{$v.l_address|msubstr=0,6,'utf-8',true}</td>
								<td>{$v.l_date}</td>
								<td><img src="{$v.l_thumb_src}" width="40" height="40"></td>
								<td>{$v.l_receive_date}</td>
								<td>{$v.l_receive_address}</td>
								<td><a href="__CONTROLLER__/lectureEditView/id/{$v.l_id}" style="color:rgb(17,122,154)">更改</a></td>
								<td><a href="__CONTROLLER__/lecdel/id/{$v.l_id}" style="color:red">删除</a></td>
							</tr>
						</volist>
					</table>
				</div>
				<div id="page" style="text-align:center">
   					<div class="jogger">{$page}</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>