
	<layout name="layout" />
	
	<div class="wrapper">
		<div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb panel">
                    <li><a href="#"><i class="fa fa-home"></i>后台管理</a></li>
                    <li><a href="#">兼职信息</a></li>
                    <li class="active">所有兼职信息</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>
		<div class="row">
            <volist name="jobs" id="v">
    			<div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            <ul class="p-info">
                                <li>
                                    <div class="title">标题</div>
                                    <div class="desk">{$v.job_title}</div>
                                </li>
                                <li>
                                    <div class="title">招聘公司</div>
                                    <div class="desk">{$v.job_company|msubstr=0,13,'utf-8',true}</div>
                                </li>
                                <li>
                                    <div class="title">工作地点</div>
                                    <div class="desk">{$v.job_address|msubstr=0,13,'utf-8',true}</div>
                                </li>
                                <li>
                                    <div class="title">薪资</div>
                                    <div class="desk">{$v.job_money}</div>
                                </li>
                                <li>
                                    <div class="title">联系人</div>
                                    <div class="desk">{$v.job_master}</div>
                                </li>
                                <li>
                                    <div class="title">联系电话</div>
                                    <div class="desk">{$v.job_tel}</div>
                                </li>
                                <li>
                                    <div class="title">工作时间</div>
                                    <div class="desk">{$v.job_work_date|msubstr=0,13,'utf-8',true}</div>
                                </li>
                                <li>
                                    <div class="title">发布时间</div>
                                    <div class="desk">20{$v.job_post_date|date="y-m-d", ###}</div>
                                </li>
                            </ul>
                            <a href=""><button class="btn btn-success">更改</button></a>
                            <button class="btn btn-danger pull-right">删除</button>
                        </div>
                    </div>
                </div>
            </volist>
		</div>	
	</div>

