

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>更改兼职信息</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/clear.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/adminIndex.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/edit.css">
	<script src="javascript/jquery-1.8.3.min.js"></script>
</head>
<body id="sysmain">
	<div class="content">
		<div class="syshead">
			<div class="clearfix">
				<p class="left">
					<img alt="红岩网校门户后台" title="红岩网校门户后台" src="__PUBLIC__/admin/images/logo.gif">
				</p>
				<p class="right">
				<if condition="$Think.session.login_name">
					<a href="javascript:void(0);">{$_SESSION.login_name}</a>
					<a class="outsys" title="退出系统" href="__MODULE__/Login/logout">
						<img src="__PUBLIC__/admin/images/outsys.gif" width="16" height="16">退出
					</a>
				</if>
				</p>
			</div>
		</div>
		<div class="sysmain clearfix">
			<div class="sysmenua">
				<ul>
					<li><a href="javascript:void(0);">后台首页</a></li>
					<li><a class="current" href="javascript:void(0);">兼职信息</a></li>
					<li><a href="__MODULE__/Study/lecturelist">讲座信息</a></li>
					<li><a href="javascript:void(0);">下载资源</a></li>
					<li><a href="__MODULE__/common/index/to/hot_activity">热门活动</a></li>
					<li><a href="__MODULE__/common/index/to/club_activity">社团活动</a></li>
					<li><a href="__MODULE__/common/upload_redrock_img">首页轮播</a></li>
					<li><a href="__MODULE__/common/index/to/match_imformation">比赛信息</a></li>
					<li><a href="__MODULE__/common/index/to/creative_platform">原创平台</a></li>
				</ul>
			</div>
			<div class="sysmenub">
				<p class="smenubtit">兼职信息</p>
				<ul>
					<li><a href="__CONTROLLER__/joblist">查看全部</a></li>
					<li><a class="current" href="javascript:void(0);">添加信息</a></li>
				</ul>
			</div>
			<div class="sysinfo">
				<p class="sinfotit">更改信息</p>
				<div class="edit">
					<form action="__SELF__" method="post">
						<p>
							<label>兼职标题</label>
							<input type="text" name="job_title" value="{$jobInfo.job_title}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>添加链接</label>
							<input type="text" name="job_link" value="{$jobInfo.job_link}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>详&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情</label>
							<input type="text" name="job_content" value="{$jobInfo.job_content}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>工作地点</label>
							<input type="text" name="job_address" value="{$jobInfo.job_address}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>招聘单位</label>
							<input type="text" name="job_company" value="{$jobInfo.job_company}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>联&nbsp;&nbsp;系&nbsp;&nbsp;人</label>
							<input type="text" name="job_master" value="{$jobInfo.job_master}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>联系电话</label>
							<input type="text" name="job_tel" value="{$jobInfo.job_tel}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>工作时间</label>
							<input type="text" name="job_work_date" value="{$jobInfo.job_work_date}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<label>工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资</label>
							<input type="text" name="job_money" value="{$jobInfo.job_money}">
							<strong><span>*</span></strong>
						</p>
						<p>
							<input class="execbtn" type="submit">
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>

