<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="__PUBLIC__/adminex/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/adminex/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="http://view.jqueryfuns.com/2014/4/10/7_df25ceea231ba5f44f0fc060c943cdae/index.html">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">重邮在线后台管理</h1>
            <img src="__PUBLIC__/admin/images/logo.gif" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" name="username" id="username" placeholder="请输入你的用户名">
            <input type="password" class="form-control" name="password" id="password" placeholder="请输入你的密码">
            <button class="btn btn-md btn-login btn-block" type="button" onclick="login()">
                确认登录
            </button>

        </div>
    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script>
$url="{$check_login}";
$index="{$index}";

function login(){
    $username = $('#username')[0].value;
    $password = $('#password')[0].value;
    $verify = $('#verify')[0].value;
    
    $.ajax({
         type: "post",
         data: {
                    username:$username,
                    password:$password,
                    verify:$verify,
                },
         url: $url,
         success: function(data){
                
                    if(data=="success")
                    {
                        window.location.href=$index;
                    }else{
                        alert(data);
                    }

         },
         error: function(){
          alert("验证出错了！");
         }
        });
      
}
</script>
</body>
</html>
