
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>  
<div class="container" style="margin:100px">

    <form class="form-signin" method="post" >
        <h2 class="form-signin-heading">登录系统</h2>
        <input type="text" name="username" id="username" class="input-block-level" placeholder="账号">
        <input type="password" name="password" id="password" class="input-block-level" placeholder="密码">
        <input type="text" name="verify" id="verify"  class="input-medium" placeholder="验证码">
        <img src="{$verify}"  onClick="this.src=this.src"/>
       
        <div>
        	<button class="btn btn-large btn-primary" type="button" onclick="login()" >登录</button>
        	
        </div>
        
    </form>

</div>
<script>
$url="{$check_login}";
$index="{$index}";

function login(){
	$username = $('#username')[0].value;
	$password = $('#password')[0].value;
	$verify = $('#verify')[0].value;
	
	$.ajax({
	     type: "post",
	     data: {
	    	 		username:$username,
	    	 		password:$password,
	    	 		verify:$verify,
	    	 	},
	     url: $url,
	     success: function(data){
				
					if(data=="success")
					{
						window.location.href=$index;
					}else{
						alert(data);
					}

	     },
	     error: function(){
	      alert("验证出错了！");
	     }
	    });
	  
}
</script>
